body {
  background-color: hsl(234, 29%, 20%);
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-page {
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  max-height: 800px;
  min-width: fit-content;
  display: flex;
  width: fit-content;
  height: auto;
  margin: auto;
}
@media (max-width: 376px) {
  .sign-up-page {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
    min-height: 100vh;
  }
}
.sign-up-page .left-side {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: auto 5%;
  height: fit-content;
  padding: 15px;
}
.sign-up-page .left-side h1 {
  text-align: left;
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
.sign-up-page .left-side p {
  font-size: 16px;
  color: hsl(235, 18%, 26%);
  font-weight: 400;
  text-align: left;
}
.sign-up-page .left-side ul {
  color: hsl(235, 18%, 26%);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-weight: 400;
}
.sign-up-page .left-side ul li {
  background-image: url("../assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 30px;
  line-height: 2.5;
  margin: 3px;
  text-align: left;
}
.sign-up-page .left-side form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.sign-up-page .left-side form .label-error-message {
  display: flex;
  justify-content: space-between;
}
.sign-up-page .left-side form .label-error-message label {
  font-weight: 700;
}
.sign-up-page .left-side form .label-error-message .error-message {
  display: none;
  color: hsl(4, 100%, 67%);
  font-weight: 700;
}
.sign-up-page .left-side form #email {
  margin: 4% 0;
  line-height: 2.5rem;
  text-indent: 10px;
  border: solid rgb(206, 201, 201);
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
}
.sign-up-page .left-side form button {
  background-color: hsl(234, 29%, 20%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  line-height: 2.5rem;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.sign-up-page .left-side form button:hover {
  background: linear-gradient(to right, rgb(234, 85, 110), hsl(4, 100%, 67%));
  box-shadow: 3px 5px 15px hsl(4, 100%, 67%);
}
.sign-up-page .right-side {
  border-radius: 20px;
  padding: 15px;
}
@media (max-width: 376px) {
  .sign-up-page .right-side {
    padding: 0;
  }
}
.sign-up-page .right-side img {
  width: 100%;
}
@media (max-width: 376px) {
  .sign-up-page .right-side img {
    margin: 0 0 1.5rem 0;
    border-radius: 0 0 10px 10px;
  }
}

.desktop-success {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  flex-direction: column;
  max-width: 400px;
  padding: 3rem;
  gap: 1rem;
  display: flex;
  width: fit-content;
  height: auto;
  margin: auto;
  display: none;
}
@media (max-width: 376px) {
  .desktop-success {
    min-height: 100vh;
    border-radius: 0;
  }
}
.desktop-success img {
  width: 3rem;
  height: auto;
}
.desktop-success h1 {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
.desktop-success p {
  font-size: 16px;
  color: hsl(235, 18%, 26%);
  font-weight: 400;
}
@media (max-width: 376px) {
  .desktop-success p {
    margin-bottom: 50%;
  }
}
.desktop-success button {
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  line-height: 2.5rem;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.desktop-success button:hover {
  background: linear-gradient(to right, rgb(234, 85, 110), hsl(4, 100%, 67%));
  box-shadow: 3px 5px 15px hsl(4, 100%, 67%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution p {
  color: hsl(231, 7%, 60%);
}
.attribution p a {
  color: hsl(228, 45%, 44%);
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
