// Variables
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$tomato: hsl(4, 100%, 67%);
$tomato-linear-gradient:to right, rgb(234, 85, 110), $tomato;
$paragraph-size: 16px;
$round-border-radius: 20px;
$less-round-border-radius:10px;
$standard-padding: 15px;
$mobile-width: 376px;

// Mixins
@mixin flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
}
@mixin button{
        background-color: $dark-slate-grey;
        border-radius: $less-round-border-radius;
        color:$white;
        line-height: 2.5rem;
        cursor: pointer;
        border:none;
        font-weight:700;
}
@mixin page{
    display: flex;
    width: fit-content;
    height: auto;
    margin:auto;
}
@mixin title{
    color: $dark-slate-grey;
    font-weight: 700;
     font-size: 3rem;
     margin: 0;
}
@mixin paragraph{
    font-size: $paragraph-size;
    color:$charcoal-grey;
    font-weight: 400;

}
@mixin button-hover{
    background: linear-gradient($tomato-linear-gradient);
    box-shadow: 3px 5px 15px $tomato;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Styles
body {
    background-color: $dark-slate-grey;
    font-family: 'Roboto', sans-serif;
    margin:0; 
    min-height: 100vh;
    @include flex-center;
}

.sign-up-page {
    padding: $standard-padding;
    background-color: $white;
    border-radius: $round-border-radius;
    max-height:800px;
    min-width: fit-content;

    @include page;
    @media (max-width:$mobile-width) {
        flex-direction:column;
        flex-direction: column-reverse;
        padding:0;
        border-radius:0;
        min-height:100vh;
    }
    
    .left-side {
    @include flex-container;
    flex-direction: column;
    margin: auto 5%;
    height: fit-content;
    padding:$standard-padding;
    
        h1 {
            text-align: left;
            @include title;
            }

        p {
            @include paragraph;
            text-align: left;
            
        }
        ul{
            color:$charcoal-grey;
            list-style-type: none;
            padding-left: 0;
            margin:0;
            font-weight: 400;
            li{
                background-image: url("../assets/images/icon-list.svg");
                background-repeat: no-repeat;
                background-position: 0 center;
                padding-left: 30px; 
                line-height: 2.5; 
                margin:3px;
                text-align: left;
            }
        }
        
        form{
           display:flex;
           flex-direction: column;
           width:100%;
            margin-top:2rem;
            .label-error-message{
                display: flex;
                justify-content: space-between;

                label{
                font-weight: 700;
            }
                .error-message{
                display: none;
                color:$tomato;
                font-weight: 700;
                

            }
            }
            
            #email{
              margin:4% 0;  
              line-height: 2.5rem;
              text-indent: 10px;
              border:solid rgb(206, 201, 201);
              border-radius: $less-round-border-radius;
              font-weight: 400;
              cursor: pointer;
                
            }
            button{
                @include button;
            }
            button:hover{
                @include button-hover;
            }
        }

    }



    .right-side {
        border-radius: $round-border-radius;
        padding:$standard-padding;
        @media (max-width:$mobile-width) {
            padding:0;
        }

        img{
            width:100%;
            @media (max-width:$mobile-width) {
            margin:0 0 1.5rem 0;
            border-radius:0 0 10px 10px;
            
            }
        }
        
    }
}


.desktop-success{
    background-color: $white;
    border-radius: $round-border-radius;
    flex-direction: column;
    max-width: 400px;
    padding:3rem;
    gap:1rem;
    @include page;
    display:none;
    @media (max-width:$mobile-width) {
        min-height: 100vh;
        border-radius: 0;
    }
    img{
        width:3rem;
        height:auto;
    
    }
    h1{
        @include title;
    }
    p{
        @include paragraph;
        @media (max-width:$mobile-width) {
            margin-bottom:50%;
        }
    }
    button{
        width:100%;
        @include button;
    }
    button:hover{
        @include button-hover;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
    p{
        color: $grey;
      a {
    color: hsl(228, 45%, 44%);
    margin-top: 1rem;
}  
    }
}

